.ser {
    display: flex;
    justify-content: center;
    margin: 4vw 0 0 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.serServ{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
    overflow: scroll;
}

.svHolder {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterBody {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 3vw;
}

.filterSel {
    width: 90vw;
    height: 8vw;
}

.fillabel {
    color: #555;
    margin-bottom: 0.1vw;
    font-size: 3.2vw;
}

.pageMainDiv {
    width: 100vw;
}

.filselect {
    width: 40vw;
    margin-top: .5vw;
    font-size: 3vw;
    padding: 1vw;
}