.bi-root {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.bi-issued-holder {
    padding: 0 2vw 0 2vw;
    max-height: 75vw;
    overflow-y: scroll;
}

.bi-issued-label {
    color: #555;
    font-weight: bold;
    margin: 3.75vw 0 .75vw 0;
}

.bi-list-time {
    font-size: 3vw;
    color: #666;
    margin-top: .5vw;
}

.bi-list-item {
    border-bottom: .1vw solid #ccc;
    padding: 1.2vw;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.bi-hidden-cam {
    max-height: 90vh !important;
}

.bi-issued-list {
    margin-bottom: 50vw;
}

.bi-title {
    color: #555;
    font-size: 5vw;
    margin: 3vw;
    display: flex;
    white-space: pre;
}

.bi-date {
    cursor: pointer;
    border-bottom: .5vw dotted #000;
}
