.service {
    padding: 2vw;
}

.detailsDiv {
    margin-bottom: 3vw;
}

.detailFeild{
    padding: .5vw 0 0 0;
    font-size: 4vw;
}

.vol-section {
    display: flex;
}

.vol-sep {
    width: 0.5vw;
    margin: 0 3vw 0 3vw;
    background: #aaaaaa86;
}

@media only screen and (min-width: 1080px) {
    .detailFeild{
        padding: .5vw 0 0 0;
        font-size: 1.4vw;
    }

    .detailsDiv {
        margin-bottom: 1vw;
    }

    .service {
        padding: 1vw;
    }

    .vol-sep {
        width: 0.1vw;
        margin: 0 1vw 0 1vw;
        background: #aaaaaa86;
    }
}