.tab {
    width: 100%;
}

.tabHeaderItems {
    display: flex;
    justify-content: space-around;
    height: 8vw;
    align-items: center;
}

.tabHeaderItem {
    width: 100%;
    text-align: center;
    border-right: 1px solid #aaa;
    user-select: none;
    cursor: pointer;
}

.last-thi {
    border-right: none
}


.tabUnderline {
    position: relative;
    height: 0.5vw;
    background: var(--bar);
    transition: left .2s ease-in-out;
}

.tabHeader {
    background-color: white;
    margin-bottom: 2vw;
}

@media only screen and (min-width: 1080px) {

    .tabHeaderItems {
        height: 2.7vw;
    }

    .tabHeaderItem {
        cursor: pointer;
    }

    .tabUnderline{
        height: 0.2vw;
    }

    .tabHeader {
        margin-bottom: 1vw;
    }
}