@page {
    size: 19in 13in;
    margin: 0;
}

.bp-page {
    display: flex;
    flex-direction: column;
    width: 19in;
    justify-content: center;
    align-items: center;
}

.bp-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 0.125in
}

.bp-entry {
    position: relative;
    font-size: .24in;
    font-weight: bold;
    text-transform: uppercase;
    left: 1in;
    height: .6in;
    padding: 0;
    margin: 0;
    top: -2.88in;
    width: 2.5in;
}

.bp-name {
    height: .64in;
}

.bp-seva {
    height: .64in;
}

.bp-badge {
    height: 5in;
}

.bp-image, .bp-badge {
    width: 3.75in;
    height: 5in;
}
