@page {
    size: 19in 13in;
    margin: 0;
}

.bp-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 13in;
    width: 19in;
    justify-content: center;
    background-color: white;
}

.bp-row {
    display: flex;
}

.bp-badge {
    height: 5in;
    width: 3.75in;
}

.bp-details {
    font-size: .235in;
    position: relative;
    font-weight: 900;
    text-transform: uppercase;
    top: 2.15in;
    height: 2.1in;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.bp-detail {
    display: flex;
    width: 95%;
}

.bp-detail-label {
    width: 23%;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    color: #393185;
    font-weight: bolder;
}

.bp-detail-text {
    width: 72%;

    display: flex;
    flex-wrap: wrap;

    border-bottom: .019in solid #393185b7;
}

.bp-qr {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    top: 1.7in;
}
