.volsIndiv {
    width: 100vw;
}

.eachVolDet {
    display: flex;
    justify-content: space-between;
    margin: 2vw 0 2vw 0vw;
}

#servol_category {
    font-size: 3.3vw;
    color: #aaa;
}

.nameHolder {
    display: flex;
    align-items: center;
}

.nameCheck {
    font-size: 6vw;
}