.volsIndiv {
    margin-bottom: 5vw;
}

.eachVolDet {
    display: flex;
    justify-content: space-between;
    margin: 2vw 0 2vw 0vw;
}

.servol_category {
    font-size: 3.3vw;
    color: #aaa;
}

.nameHolder {
    display: flex;
    align-items: center;
}

.nameCheck {
    font-size: 6vw;
}

.redlight {
    color: indianred;
    margin-bottom: 2vw;
}

.volactbuttons {
    display: flex;
    align-items: center;
}

.availRed {
    color: indianred;
    font-size: 3vw;
    margin-bottom: 0.5vw;
}

@media only screen and (min-width: 1080px) {
    .servol_category {
        font-size: 1.2vw;
    }
    .eachVolDet {
        margin: .5vw 0 .5vw 0;
    }

    .redlight {
        margin-bottom: .5vw;
    }

    .availRed {
        color: indianred;
        font-size: 1.1vw;
        margin-bottom: 0.2vw;
    }

    .volsIndiv {
        margin-bottom: 1vw;
    }
}