.pqr-camcont {
    width: 90vw;
}

.pqr-root {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pqr-cam {
    width: 50vw !important;
    height: 50vw !important;
}