.servIndiv {
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.serviceDetails {
    color: #555;
    font-size: 3.5vw;
    margin: 1vw;
}

.spocPhoneDet {
    display: flex;
    color: #555;
}

.serviceTitleStats {
    display: flex;
    justify-content: space-between;
}